@import "~themes/default.less";

.header {
    background-color: white;
    padding: 0;
    border-bottom: 1px solid @border-color-base;
}

.menuCol {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.menu {
    line-height: 63px;
    font-size: 15px;
    padding-right: 16px;
}

.user {
    display: flex;
    align-items: center;
    height: 100%;

    :global {
        .anticon {
          min-width: 16px;
          font-size: 16px;
          margin-right: 0;
        }
    }

    span:last-child {
        margin-left: 10px;
    }
}