@import '~themes/default.less';

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    //transition: @transition-ease-in;

    &:hover {
        color: @primary-color;
        //background-color: fade(@primary-color, 15%);
    }
}


.company {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 34px;


    .companyLogo {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        color: @text-color-secondary-dark;

        &:hover {
            color: white;
        }
    }

    .companyName {
        font-size: 20px;
        color: #999;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .3s;
    
        &:hover {
            color: white;
        }
    }

}

.layout {
    background-color: @background-color-base;
}  

.companyCollapse {
    padding-left: 5px;
    padding-right: 0;
}


.content {
    margin: 24px;
    margin-top: 0;
    height: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: white;
    box-shadow: 0 -1px 3px 0 @box-shadow-color;
}

.collapse {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 16px;
        cursor: pointer;
        transition: color .3s;
        color: white;
    }
  
    .trigger:hover {
        color: #108ee9;
    }


}

// 全局菜单样式
:global {

    // 正常Icon
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 15px;
    //color: rgb(240, 240, 240);
    }
    
    // 折叠后的Icon
    .ant-menu-inline-collapsed > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
    font-size: 24px;
    }

    // 折叠后的MenuItem
    .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 20px!important;
    margin-top: 8px;
    margin-bottom: 8px;
    }

    // 正常MenuItem
    .ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    font-size: 14px;
    min-width: 15px;
    font-family: "PingFang SC", "Microsoft Yahei";
    //color: rgb(235, 235, 235);
    }

    .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    font-size: 12px;
    }
    
    // .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
    // color: rgb(235, 235, 235);
    // }
}
