@import '~themes/default.less';


.sider {
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    position: relative;
    z-index: 12;


    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 16px;
        cursor: pointer;
        //transition: @transition-ease-in;

        &:hover {
            color: @primary-color;
            //background-color: fade(@primary-color, 15%);
        }
    }


    .company {
        display: flex;
        height: 64px;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 14px;
        padding-right: 34px;
        background: #002140;
    

        .companyLogo {
            height: 32px;
            width: 32px;
            margin-right: 10px;
            color: @text-color-secondary-dark;
        }

        .companyName {
            font-size: 20px;
            color: white;
            transition: color .3s;
            .textOverflow();
            font-weight: 600;
        }

    }

    .companyCollapse {
        padding-left: 5px;
        padding-right: 0;
    }

    .content {
        height: 100%;
    }
}

.layout {
    height: 100%
}

// 全局菜单样式
:global {

    // 正常Icon
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
        font-size: 15px;
    }
    
    // 折叠后的Icon
    .ant-menu-inline-collapsed > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
        font-size: 24px;
    }

    // 折叠后的MenuItem
    .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
        padding-left: 27px!important;
    }
}
